div.registration {
	display: flex;
	justify-content: center;
	padding: 30px 10px;

	@media screen and (max-width: 576px) {
		padding: 10px;
	}

	.registration-title {
		font-weight: bold;
	}

	.model-img {
		@include hide-for-only(small);
		min-width: 350px;
		opacity: 0.15;
		transition-duration: 0.3s;

		&.confirmed {
			opacity: 1;
		}
	}

	.model-img-overlay {
		@include hide-for-only(small);
		min-width: 350px;
		top: 0;
		position: absolute;
		clip: rect(0, 0, 400px, 0);
	}

	.create-account-block {
		max-width: 650px;
		width: 100%;
		padding: 40px 50px;
		text-align: left;
		background: #0a0b0d;
		border: 1px solid #262a32;
		border-radius: 10px;

		@media screen and (max-width: 576px) {
			border: none;
			background: transparent;
			padding: 10px;
		}

		.biometric-auth-section {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@media screen and (max-width: 576px) {
				background-color: #0a0b0d;
				border: 1px solid #1c1f27;
				border-radius: 5px;
				padding: 10px;
			}

			h4 {
				text-align: center;
				font-weight: bold;

				@media screen and (max-width: 576px) {
					font-size: 16px;
				}
			}

			h5 {
				text-align: center;
				font-size: 16px;
				color: rgba(255, 255, 255, 0.5);

				@media screen and (max-width: 576px) {
					font-size: 14px;
					max-width: 300px;
				}
			}

			.ant-select {
				width: 100%;
				margin-top: 5px;
			}
		}

		.registration-account-title {
			text-align: center;
			font-weight: 500;
			font-size: 24px;
			margin-bottom: 10px !important;
			color: white;

			@media screen and (max-width: 576px) {
				font-size: 16px;
			}
		}

		.registration-confirm {
			margin-bottom: 45px;

			@media screen and (max-width: 576px) {
				margin-bottom: 20px;
			}

			.passkey-alert-title {
				p {
					color: #cecece;
					font-size: 16px;

					@media screen and (max-width: 576px) {
						text-align: center;
						font-size: 14px;
					}
				}
			}
		}

		.warn-tooltip {
			position: relative;

			&::before {
				content: '\a';
				border-style: solid;
				border-width: 6px 7px 6px 0px;
				border-color: transparent darkred transparent transparent;
				position: absolute;
				transform: rotate(90deg);
				left: 31px;
				top: -9px;
			}

			p {
				padding: 10px;
				background: darkred;
				border-radius: 10px;
				border: none;
				line-height: 1.4;
				color: #ffc000;

				@media screen and (max-width: 576px) {
					font-size: 14px;
				}

				a {
					text-decoration: underline;
				}
			}
		}

		.checkbox-group {
			margin-bottom: 50px;

			@media screen and (max-width: 576px) {
				margin-bottom: 20px;
			}

			.checkbox-item {
				display: flex;
				width: 100%;
				align-items: center;
				margin-bottom: 15px;

				.terms {
					line-height: 1;

					@media screen and (max-width: 576px) {
						font-size: 14px;
					}
				}
			}

			.checkbox-text {
				font-size: 17px;
				color: white;

				&.active {
					color: rgba(206, 206, 206, 0.5);
				}
			}

			.reset-this {
				font-size: 17px;
				color: white;

				&.active {
					color: rgba(206, 206, 206, 0.5);
				}
			}

			.ant-checkbox-wrapper {
				margin-left: 0px !important;
				margin-right: 10px;

				.ant-checkbox {
					top: 0 !important;

					.ant-checkbox-input {
						width: 100%;
						height: 100%;
					}

					.ant-checkbox-inner {
						background-color: #ffc000;
						border: none;
						border-radius: 50%;
						width: 20px;
						height: 20px;

						&::after {
							left: 30% !important;
						}
					}
				}
			}
		}

		.button-wrapper {
			.create-acc-btn {
				height: 50px;
				width: 200px;
				background: #ffc000;
				font-size: 18px;
				font-weight: 600;
				border-radius: 6px;
				border: none;

				span {
					color: white !important;
					text-transform: capitalize;
				}
			}
		}

		.registration-form {
			.header-text {
				display: flex;
				flex-direction: column;
				justify-content: center;

				p {
					font-size: 14px;
					line-height: 20px;
					color: #cecece;
				}
			}

			.form-body {
				.info-form {
					display: flex;
					width: 100%;
					flex-direction: column;
					justify-content: center;

					.form-blocks {
						display: flex;
						flex-direction: row;
						align-items: center;

						.ant-form-item {
							width: 50%;

							.ant-input-affix-wrapper {
								background-color: transparent;
								border-radius: 6px;
								border: 1px solid #262a32;
								height: 50px;
								display: flex;
								align-items: center;

								.ant-input-prefix {
									color: #cecece;
									padding-right: 8px;
									border-right: 1px solid #262a32;
									height: 30px;
									margin-right: 5px;
								}

								input {
									height: 30px;
									border: none !important;
								}
							}
						}
					}
				}

				.continue-btn {
					height: 60px;
					width: 100%;
					background: #ffc000;
					color: #440000;
					font-size: 18px;
					font-weight: 600;
					border-radius: 6px;
					border: none;
				}

				.redirect {
					font-size: 15px;
					color: white;
					margin-top: 30px;
					display: flex;
					flex-direction: row;
					align-items: center;

					.btn {
						color: #ffc000;
						text-decoration: underline;
						cursor: pointer;
						margin-left: 5px;
					}
				}
			}

			.form-group {
				select.bts-select {
					max-width: 100% !important;
				}
			}
		}

		span.inline-label {
			max-width: 30rem;

			&.generated-password-field {
				margin-bottom: 1.5rem;
			}

			.button {
				border-radius: 0;
			}

			input {
				padding-right: 0;
			}
		}

		@include breakpoint(large) {
			.account-name,
			.account-selector {
				width: 77%;
			}
		}

		h3 {
			margin-bottom: 15px;
			font-size: 32px;
			line-height: 26px;
		}

		.confirm-checks {
			h3 {
				margin-bottom: 28px;
			}
		}

		button.button-primary {
			margin-top: 23px;
			padding: 8px 25px;
			border-radius: 20px;
		}

		button.disabled {
			opacity: 0.1;
		}

		.checkbox-block {
			display: flex;
			align-items: baseline;
			margin-bottom: 19px;
			cursor: pointer;

			span {
				vertical-align: middle;
			}
		}

		.checkbox-text {
			margin-left: 10px;
			font-size: 14px;
			letter-spacing: 0.06px;
			line-height: 20px;
		}

		.download-btn {
			margin-top: 16px;
			padding: 11px 35px;
			border-radius: 30px;

			.download-block {
				display: flex;

				.bin-img {
					margin-right: 16px;
				}

				.download-text {
					font-size: 16px;
					letter-spacing: 0.07px;
					line-height: 20px;
				}

				.file-name {
					margin-bottom: 0;
					font-size: 11px;
					letter-spacing: -0.13px;
					line-height: 15px;
				}
			}
		}

		.registration-layout-select {
			max-width: 30rem;
			border-radius: 0;
		}

		.why-bin-file {
			margin-top: 10px;
			width: fit-content;
		}

		@include breakpoint(large) {
			margin-left: 60px;
		}

		.desc1,
		.desc2 {
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.5rem;
			letter-spacing: 0.009375em;
			margin-top: 1rem;
			color: #f5f5f5;
			text-align: center;
		}

		.desc1 {
			color: #d5ba48;
			font-size: 1.4rem;
		}

		.btn-container {
			text-align: center;
			margin-top: 1rem;

			&.dual-btns {
				button {
					margin-bottom: 20px;
				}
			}
		}
	}

	div.sub-content {
		padding-top: 1rem;

		table {
			text-align: left;
		}

		p {
			word-wrap: break-word;
			max-width: 30rem;
			text-align: left;
		}
	}

	div.button-group {
		display: flex;
		justify-content: space-between;
		padding-top: 2rem;

		label {
			> span {
				text-transform: none;
				font-size: 90%;
			}

			&:first-of-type {
				margin-right: 3rem;
			}
		}
	}

	div.button {
		border-radius: 20px;
		padding: 11px 25px;
	}

	div.button.disabled {
		opacity: 0.1;
	}

	.password-copy-button {
		padding: 10px;
		border-radius: 0 5px 5px 0;
		display: inline;
		right: 0;
		position: absolute;
	}

	.generated-password-section {
		position: relative;
		display: inline;
	}

	.phone-display-flex {
		display: flex;
		align-items: center;

		.phone-number-before-select {
			display: flex;
			align-items: center;
			padding: 14px 30px;
			padding-left: 10px !important;
			border-radius: 4px;
			margin-right: 6px;
			color: #bfbfbf;
			background: #21252f !important;
			cursor: pointer;
			height: 50px;
			width: 137px;

			span {
				padding-left: 10px;
			}
		}

		.ant-select {
			height: 50px;
			width: 150px;
			margin-right: 6px;
		}

		.ant-select-arrow {
			display: none;
		}

		.phone-number-code {
			color: #fff;
			font-size: 15px;
			padding-left: 5px;
		}

		.ant-select-selector {
			height: 100%;
			border-radius: 4px;
			cursor: pointer !important;
			background-color: #21252f !important;
		}

		.ant-select-selection-item {
			line-height: 45px;

			.selected-data-element {
				display: none;
			}
		}

		.ant-select-selection-search input {
			display: none;
		}
	}

	.webcam-wrapper {
		position: relative;
		border: 1px solid #1c1f27;
		border-radius: 3px;
	}

	.flex_container {
		width: 100%;
		display: flex;
		flex-direction: column;
		color: rgba(255, 255, 255, 0.5);
		position: absolute;
		bottom: 0;
	}

	.flex-container-new {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 7px;
		padding-bottom: 7px;
		background-color: transparent;
	}

	.flex-container-first {
		z-index: 999;
		float: center;
		width: 100%;
	}

	.position-head {
		display: flex;
		justify-content: center;
		color: #ffc000;
		font-weight: 600;
		width: 100%;
		align-items: center;
		z-index: 999;

		@media screen and (max-width: 576px) {
			font-size: 14px;
		}
	}

	.btn-x {
		background-color: #262a32;
		color: red;
		width: 30px !important;
		height: 30px !important;
		font-size: 14px;
		font-weight: 600;
		z-index: 999;
		border: 1px solid #262a32;
		border-radius: 50%;
		margin-right: 10px;
	}

	.flip-button {
		position: absolute;
		top: 50px;
		right: 10px;
		z-index: 300;
		opacity: 0.7;
		cursor: pointer;
		width: 30px;
	}

	.oval-image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 200;
		opacity: 0.8;
	}

	.button-wrapper {
		display: flex;
		justify-content: center;
		margin-top: 10px;

		button {
			background: rgb(255, 204, 0);
			border: none;
			width: 110px;
			height: 45px;
			color: white;
			font-size: 18px;
			font-weight: 600;
			border-radius: 5px;
		}
	}

	.span-class {
		width: 100%;
		z-index: 999;
		text-align: center;

		@media screen and (max-width: 576px) {
			font-size: 14px;
		}
	}

	.custom-margin-bottom-zero {
		margin-top: 0 !important;
	}

	.flex-padding {
		padding-top: 4px;
		padding-bottom: 4px;
	}
}

.ant-layout.layout {
	background: transparent !important;
	align-items: center;
	justify-content: center;
}

.registration-content {
	padding: 2rem 3rem;
	max-width: 520px;
	width: 30%;
	background-color: #2a2a2a;
	position: relative;

	@include breakpoint(small only) {
		padding: 1rem 1.2rem;
		width: 100%;
	}

	& label {
		display: flex !important;
	}

	.logo-container {
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}

	.desc1,
	.desc2 {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.5rem;
		letter-spacing: 0.009375em;
		margin-top: 1rem;
		color: #f5f5f5;
		text-align: center;
	}

	.desc1 {
		color: #d5ba48;
		font-size: 1.4rem;
	}

	.btn-container {
		text-align: center;
		margin-top: 1rem;

		&.dual-btns {
			button {
				margin-bottom: 20px;
			}
		}
	}
}

.option-header-register {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.select-country-code {
		margin-left: 5px !important;
	}

	.countryFlag-img {
		margin-right: 5px;
	}
}

.option-header-register:hover {
	color: #fff !important;
}

.select-box-country {
	background-color: #000;
	top: 55px !important;
	border: 1px solid #1c1f27;
	border-radius: 5px;

	.ant-select-item-option {
		border-bottom: 1px solid #1c1f27;

		.ant-select-item-option-content {
			.option-header-register {
				color: white;
			}
		}
	}

	.ant-select-item-option-selected {
		background-color: #ffc000 !important;

		.option-header-register {
			color: #000 !important;
			font-weight: 700 !important;
		}
	}

	.ant-select-item:hover {
		background-color: #ffc000;
	}

	.option-header-register:hover {
		background-color: #ffc000;
		color: #000 !important;
		font-weight: 700 !important;
	}

	.rc-virtual-list {
		min-width: 300px !important;
	}
}

.phone-number {
	.ant-form-item-explain-error {
		display: none;
	}
}
