div.registration {
	padding-top: 3rem;
	background-color: initial;

	.registration-title {
		font-weight: bold;
	}

	.model-img {
		@include hide-for-only(small);
		min-width: 350px;
		opacity: 0.15;
		transition-duration: 0.3s;

		&.confirmed {
			opacity: 1;
		}
	}

	.model-img-overlay {
		@include hide-for-only(small);
		min-width: 350px;
		top: 0;
		position: absolute;
		clip: rect(0, 0, 400px, 0);
	}

	.create-account-block {
		max-width: 800px;
		width: 100%;
		padding: 40px 50px;
		text-align: left;
		background: #0a0b0d;
		border: 1px solid #262a32;
		border-radius: 10px;
		margin-bottom: 50px;

		.registration-account-title {
			text-align: center;
			font-weight: 500;
		}

		.warn-tooltip {
			.ant-alert-with-description {
				height: 105px;
				background: #640000;
				border-radius: 10px;
				border: none;
				display: flex;
				align-items: center;
				margin-top: 10px;

				.ant-alert-description {
					color: #ffc000;
					font-size: 17px;
				}
			}
		}

		.checkbox-group {
			margin-top: 60px;
			margin-bottom: 50px;

			.ant-checkbox-wrapper {
				margin-left: 0px !important;
				height: 40px;

				.checkbox-text {
					font-size: 17px;
					color: white;

					&.active {
						color: rgba(206, 206, 206, 0.5);
					}
				}

				.reset-this {
					font-size: 17px;
					color: white;

					&.active {
						color: rgba(206, 206, 206, 0.5);
					}
				}
			}

			.ant-checkbox-inner {
				background-color: #ffc000;
				border: none;
			}
		}

		.button-wrapper {
			.create-acc-btn {
				height: 60px;
				width: 100%;
				background: #ffc000;
				font-size: 18px;
				font-weight: 600;
				border-radius: 6px;
				border: none;

				span {
					color: #440000 !important;
					text-transform: capitalize;
				}
			}
		}

		.registration-form {
			.header-text {
				display: flex;
				flex-direction: column;
				justify-content: center;

				p {
					font-size: 14px;
					line-height: 20px;
					color: #cecece;
				}
			}

			.form-body {
				.info-form {
					display: flex;
					width: 100%;
					flex-direction: column;
					justify-content: center;

					.form-blocks {
						display: flex;
						flex-direction: row;
						align-items: center;

						.ant-form-item {
							width: 50%;
						}
					}
				}

				.continue-btn {
					height: 60px;
					width: 100%;
					background: #ffc000;
					color: #440000;
					font-size: 18px;
					font-weight: 600;
					border-radius: 6px;
					border: none;
				}

				.redirect {
					font-size: 15px;
					color: white;
					margin-top: 30px;
					display: flex;
					flex-direction: row;
					align-items: center;

					.btn {
						color: #ffc000;
						text-decoration: underline;
						cursor: pointer;
						margin-left: 5px;
					}
				}
			}

			.form-group {
				select.bts-select {
					max-width: 100% !important;
				}
			}
		}

		span.inline-label {
			max-width: 30rem;

			&.generated-password-field {
				margin-bottom: 1.5rem;
			}

			.button {
				border-radius: 0;
			}

			input {
				padding-right: 0;
			}
		}

		@include breakpoint(large) {
			.account-name,
			.account-selector {
				width: 77%;
			}
		}

		h3 {
			margin-bottom: 15px;
			font-size: 32px;
			line-height: 26px;
		}

		.confirm-checks {
			h3 {
				margin-bottom: 28px;
			}
		}

		button.button-primary {
			margin-top: 23px;
			padding: 8px 25px;
			border-radius: 20px;
		}

		button.disabled {
			opacity: 0.1;
		}

		.checkbox-block {
			display: flex;
			align-items: baseline;
			margin-bottom: 19px;
			cursor: pointer;

			span {
				vertical-align: middle;
			}
		}

		.checkbox-text {
			margin-left: 10px;
			font-size: 14px;
			letter-spacing: 0.06px;
			line-height: 20px;
		}

		.download-btn {
			margin-top: 16px;
			padding: 11px 35px;
			border-radius: 30px;

			.download-block {
				display: flex;

				.bin-img {
					margin-right: 16px;
				}

				.download-text {
					font-size: 16px;
					letter-spacing: 0.07px;
					line-height: 20px;
				}

				.file-name {
					margin-bottom: 0;
					font-size: 11px;
					letter-spacing: -0.13px;
					line-height: 15px;
				}
			}
		}

		.registration-layout-select {
			max-width: 30rem;
			border-radius: 0;
		}

		.why-bin-file {
			margin-top: 10px;
			width: fit-content;
		}

		@include breakpoint(large) {
			margin-left: 60px;
		}

		.desc1,
		.desc2 {
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.5rem;
			letter-spacing: 0.009375em;
			margin-top: 1rem;
			color: #f5f5f5;
			text-align: center;
		}

		.desc1 {
			color: #d5ba48;
			font-size: 1.4rem;
		}

		.btn-container {
			text-align: center;
			margin-top: 1rem;

			&.dual-btns {
				button {
					margin-bottom: 20px;
				}
			}
		}
	}

	div.sub-content {
		padding-top: 1rem;
		table {
			text-align: left;
		}
		p {
			word-wrap: break-word;
			max-width: 30rem;
			text-align: left;
		}
	}

	div.button-group {
		display: flex;
		justify-content: space-between;
		padding-top: 2rem;
		label {
			> span {
				text-transform: none;
				font-size: 90%;
			}
			&:first-of-type {
				margin-right: 3rem;
			}
		}
	}
	div.button {
		border-radius: 20px;
		padding: 11px 25px;
	}

	div.button.disabled {
		opacity: 0.1;
	}

	.password-copy-button {
		padding: 10px;
		border-radius: 0 5px 5px 0;
		display: inline;
		right: 0;
		position: absolute;
	}

	.generated-password-section {
		position: relative;
		display: inline;
	}
}

.ant-layout.layout {
	background: transparent !important;
	align-items: center;
	justify-content: center;
}

.registration-content {
	padding: 2rem 3rem;
	max-width: 520px;
	width: 30%;
	background-color: #2a2a2a;
	position: relative;
	@include breakpoint(small only) {
		padding: 1rem 1.2rem;
		width: 100%;
	}

	& label {
		display: flex !important;
	}

	.logo-container {
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}
	.desc1,
	.desc2 {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.5rem;
		letter-spacing: 0.009375em;
		margin-top: 1rem;
		color: #f5f5f5;
		text-align: center;
	}
	.desc1 {
		color: #d5ba48;
		font-size: 1.4rem;
	}
	.btn-container {
		text-align: center;
		margin-top: 1rem;

		&.dual-btns {
			button {
				margin-bottom: 20px;
			}
		}
	}
}

@include breakpoint(small only) {
	div.registration {
		padding-top: 14px;

		.create-account-block {
			h3 {
				margin-bottom: 4px;
				font-size: 20px;
				line-height: 24px;
			}

			button.button-primary {
				margin-top: 8px;
			}

			p {
				max-width: 100%;
			}

			.download-btn {
				width: 100%;
				margin-top: 9px;

				.download-block {
					justify-content: center;
				}
			}

			.confirm-checks {
				h3 {
					margin: 14px 0 15px 0;
				}
			}

			.checkbox-block {
				margin-bottom: 16px;
			}

			.checkbox-text {
				font-size: 12px;
				letter-spacing: 0.05px;
				line-height: 18px;
			}

			.registration-layout-select {
				max-width: 100%;
			}

			.why-bin-file {
				margin: 10px auto;
			}
		}
	}
}
