.custom-stripe {
	padding-left: 20px;
	padding-top: 20px;

	.custom-form-stripe {
		max-width: 700px;
		min-width: 700px;
	}

	.pay-btn {
		background: #ffc000;
		color: #fff;
		padding: 10px;
		border-radius: 10px;
		margin-top: 20px;
	}

	.payment-method-title {
		color: #fff !important;
		margin-bottom: 10px;
	}

	.fiat-currency-select {
		width: 120px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.error-msg {
		color: red !important;
		font-size: 23px;
		margin-bottom: 0;
	}
}
