$footerBackground: #15171b;
$footerTextColor: #566176;

// Entire Layout
#content {
	display: block;

	> .ant-layout {
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ant-layout-header {
			height: 3rem;
		}

		> .ant-layout-content {
			height: calc(100% - 5rem);
			overflow: hidden;
			margin-top: 3rem;

			.ant-layout {
				height: 100%;
				overflow: hidden;

				.ant-layout-sider-children > .ant-menu {
					height: 100%;
				}

				.ant-layout-content {
					margin-top: 0 !important;

					.darkTheme,
					#content-wrapper {
						height: 100%;

						.grid-frame.vertical {
							height: 100%;

							> div {
								overflow-y: auto;
							}
						}
					}
				}
			}
		}

		.ant-layout-footer {
			height: 2rem;
			position: 'fixed';
			bottom: 0;
			zindex: 1;
			width: 100%;
			text-align: center;
			background-color: $footerBackground !important;
			padding: 9px 50px !important;
			color: $footerTextColor !important;
		}
	}
}

.page-layout {
	> .grid-block {
		// border-top: 10px solid transparent;
		// border-bottom: 10px solid transparent;
		> .grid-content,
		> .grid-block,
		> .grid-container {
			padding: 0 1px;
		}
	}

	.padding-top {
		padding-top: 1rem;
	}

	.left-column {
		background-color: #fafafa;
	}

	.main-content {
		padding-top: 0px;
		background-color: #f3f3f3;

		&.margin-block {
			margin: 20px;
			padding: 1rem 0.75rem;
		}
	}

	.right-column {
		background-color: #eaeaea;
	}

	.regular-padding {
		padding: 2rem 1.75rem !important;
	}
}

#account-notify {
	position: absolute;
	top: auto !important;
	right: 0.5em;
	width: 30em;
}

@media (max-width: 1100px) {
	.hide-column-small {
		display: none !important;
	}
}

@media (max-width: 1300px) {
	.hide-column-large {
		display: none !important;
	}
}

div.bordered-header {
	text-transform: uppercase;
	font-size: 1.1rem;
	padding-left: 10px;
	padding-top: 0.55rem;
	font-weight: 500;
	overflow: hidden;
}

.exchange-bordered {
	border: 1px solid rgba(183, 183, 183, 0.29);
	margin: 0;

	&#depth_chart {
		padding: 0px 6px 0px 6px;
	}
}

.generic-bordered-box {
	//border: 1px solid rgba(183, 183, 183, 0.29);

	.box-content {
		//padding-left: 10px;
	}
}

.block-content-header {
	font-size: 1.4375rem;
	padding: 1.5rem 0;

	@include breakpoint(small only) {
		font-size: 1.125rem;
	}
}

.table-cell {
	display: table-cell;
}

.grid-content.app-tables {
	box-sizing: border-box;
	padding: 0px;
	height: 100%;
	position: relative;
}

// .grid-content.app-tables > .content-block, .grid-content.app-tables > .content-block > .generic-bordered-box, .grid-content.app-tables > .content-block > .generic-bordered-box > .account-tabs {
//   height: 100%;
// }

.grid-content.app-tables > .content-block {
	margin-bottom: 0 !important;
}

.external-link:after {
	content: '';
	margin-left: 5px;
	background: url("data:image/svg+xml;utf8, <svg version='1.1' xmlns='http://www.w3.org/2000/svg' fill='rgb(224, 224, 224)' width='32' height='32' viewBox='0 0 32 32'><path d='M8 20s1.838-6 12-6v6l12-8-12-8v6c-8 0-12 4.99-12 10zm14 4H4V12h3.934c.315-.372.654-.729 1.015-1.068 1.374-1.287 3.018-2.27 4.879-2.932H.001v20h26v-8.395l-4 2.667V24z'></path></svg>")
		no-repeat left 2px;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.git-info {
	text-align: center;
	position: relative;

	.ant-alert .ant-alert-icon {
		position: static !important;
		margin-right: 10px;
	}
	.close-icon {
		position: absolute;
		top: 8px;
		right: 16px;
		overflow: hidden;
		font-size: 12px;
		line-height: 22px !important;
		cursor: pointer;
		color: black !important;
	}
}

.search-input {
	.ant-input-suffix {
		right: 0px !important;
		.anticon {
			width: 32px;
			height: 32px;
			svg {
				margin: 9px;
			}
		}
	}
}

.json-link {
	cursor: pointer;

	.anticon {
		padding-right: 5px;
	}
}

// Banner
.ant-layout-header {
	.logo-wrapper {
		padding-top: 7px;
	}
}

// Menu
ul.header-menu {
	width: 245px;
	padding: 0;
	border-top: 4px solid #ffc000;

	&:before {
		content: '\a';
		border-style: solid;
		border-width: 6px 7px 6px 0px;
		border-color: transparent #ffc000 transparent transparent;
		position: absolute;
		transform: rotate(90deg);
		right: 31px;
		top: -12px;
	}

	li {
		background: #2e3445;
		padding-top: 10px;
		padding-bottom: 10px;

		&:first-of-type {
			span {
				color: #ffc000;
			}
		}

		&.level-1 {
			background: #21252f;
		}

		&.level-2 {
			background: #282d3a;
		}

		&:hover {
			background: #f5f5f5;
			cursor: pointer;

			span {
				color: black;
			}

			> div.ant-dropdown-menu-submenu-title {
				span.ant-dropdown-menu-submenu-expand-icon {
					> span {
						color: #282d3a;
					}
				}
			}
		}

		span {
			color: white;
			font-size: 15px;
		}

		> div.ant-dropdown-menu-submenu-title {
			background-color: transparent !important;
			padding-top: 0px !important;
			padding-bottom: 0px !important;

			&:hover {
				background-color: transparent !important;
			}

			span.ant-dropdown-menu-submenu-expand-icon {
				top: 15px;

				> span {
					color: white;
				}
			}
		}
	}

	.disable-li-text span {
		color: #808080 !important;
	}
}

.deposit-submenu {
	ul {
		width: 245px;
		padding: 0;

		li {
			background: #2e3445;
			padding-top: 10px;
			padding-bottom: 10px;

			span {
				color: white;
				font-size: 15px;
			}

			&:hover {
				span {
					color: black;
				}
			}
		}
	}
}

.advanced-submenu {
	ul {
		width: 245px;
		padding: 0;

		li {
			background: #2e3445;
			padding-top: 10px;
			padding-bottom: 10px;

			&:hover {
				span {
					color: black;
				}
			}

			span {
				color: white;
				font-size: 15px;
			}

			&.comment {
				background: #282d3a;
				font-size: 11px;

				span {
					color: rgba(255, 255, 255, 0.5) !important;
				}

				&:hover {
					span {
						color: rgba(255, 255, 255, 0.5) !important;
					}
				}
			}
		}
	}
}

// Sidebar
.ant-layout-sider-children {
	li {
		&.sidebar-menu-help {
			margin-top: 70% !important;
			border-top: 1px solid #1c1f27;
		}

		&.sidebar-menu-settings {
			border-bottom: none;
		}
	}
}
