$footerDarkBackground: #15171b;
$footerDarkTextColor: #566176;

$footerLightBackground: #f5fffa;
$footerLightTextColor: #566176;

// Entire Layout
.darkTheme #content {
	display: block;

	> .ant-layout {
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ant-layout-header {
			height: 3rem;
			background-color: #0a0b0d;
		}

		> .ant-layout-content {
			height: calc(100% - 5rem);
			overflow: hidden;
			margin-top: 3rem;

			.ant-layout {
				height: 100%;
				overflow: hidden;

				.ant-layout-sider-children > .ant-menu {
					height: 100%;
				}

				.ant-layout-content {
					margin-top: 0 !important;

					.darkTheme,
					#content-wrapper {
						height: 100%;

						.grid-frame.vertical {
							height: 100%;

							> div {
								overflow-y: auto;
							}
						}

						.asset-page {
							padding-top: 30px;

							.asset-card {
								border: 1px solid #1c1f27;

								.card-divider {
									margin-bottom: 0;
								}
							}

							.ant-collapse {
								border: 1px solid #1c1f27;
								border-radius: 5px;

								.ant-collapse-item {
									margin-bottom: 0;
									border-bottom: 1px solid #1c1f27;

									.ant-collapse-header {
										border-radius: 0;
									}

									.ant-collapse-content {
										background-color: #15171b;
										border-top: 1px solid #1c1f27;
										color: white;
									}

									&:last-child {
										border-bottom: none;
									}
								}
							}
						}
					}
				}
			}
		}

		.ant-layout-footer {
			height: 2rem;
			position: 'fixed';
			bottom: 0;
			z-index: 1;
			width: 100%;
			text-align: center;
			background-color: $footerDarkBackground !important;
			padding: 9px 50px !important;
			color: $footerDarkTextColor !important;
			border-top: 1px solid #1c1f27;
		}

		.exchange-footer {
			position: relative;
			height: 60px;
			background-color: #ffc000 !important;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px !important;

			.icon-button {
				z-index: 100;
				.anticon {
					font-size: 24px;
					margin-bottom: 5px;
					color: black;
				}

				.ant-typography {
					font-size: 16px;
				}
			}

			.normal-button {
				width: 120px;
				height: 80px;
				display: flex;
				align-items: center;
				flex-direction: column;
				background-color: #470000;
				margin-left: 10px;
				margin-right: 10px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				.footer-logo {
					width: 24px;
					margin-top: 10px;
					margin-bottom: 7px;
				}
			}
		}
	}
}

.lightTheme #content {
	display: block;

	> .ant-layout {
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ant-layout-header {
			height: 3rem;
			background-color: white;
		}

		> .ant-layout-content {
			height: calc(100% - 5rem);
			overflow: hidden;
			margin-top: 3rem;

			.ant-layout {
				height: 100%;
				overflow: hidden;

				.ant-layout-sider-children > .ant-menu {
					height: 100%;
				}

				.ant-layout-content {
					margin-top: 0 !important;

					.lightTheme,
					#content-wrapper {
						height: 100%;

						.grid-frame.vertical {
							height: 100%;

							> div {
								overflow-y: auto;
							}
						}

						.asset-page {
							padding-top: 30px;

							.asset-card {
								border: 1px solid #eaeaea;

								.card-divider {
									margin-bottom: 0;
								}
							}

							.ant-collapse {
								border: 1px solid #eaeaea;
								border-radius: 5px;

								.ant-collapse-item {
									margin-bottom: 0;
									border-bottom: 1px solid #eaeaea;

									.ant-collapse-header {
										border-radius: 0;
									}

									.ant-collapse-content {
										background-color: transparent;
										border-top: 1px solid #eaeaea;
										color: #666666;
									}

									&:last-child {
										border-bottom: none;
									}
								}
							}
						}
					}
				}
			}
		}

		.ant-layout-footer {
			height: 2rem;
			position: 'fixed';
			bottom: 0;
			z-index: 1;
			width: 100%;
			text-align: center;
			background-color: $footerLightBackground !important;
			padding: 9px 50px !important;
			color: $footerLightTextColor !important;
			border-top: 1px solid #eaeaea;
		}

		.exchange-footer {
			position: relative;
			height: 60px;
			background-color: #ffc000 !important;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px !important;

			.icon-button {
				z-index: 100;
				.anticon {
					font-size: 24px;
					margin-bottom: 5px;
					color: black;
				}

				.ant-typography {
					font-size: 16px;
				}
			}

			.normal-button {
				width: 120px;
				height: 80px;
				display: flex;
				align-items: center;
				flex-direction: column;
				background-color: #470000;
				margin-left: 10px;
				margin-right: 10px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				.footer-logo {
					width: 24px;
					margin-top: 10px;
					margin-bottom: 7px;
				}
			}
		}
	}
}

.page-layout {
	> .grid-block {
		> .grid-content,
		> .grid-block,
		> .grid-container {
			padding: 0 1px;
		}
	}

	.padding-top {
		padding-top: 1rem;
	}

	.left-column {
		background-color: #fafafa;
	}

	.main-content {
		padding-top: 0px;
		background-color: #f3f3f3;

		&.margin-block {
			margin: 20px;
			padding: 1rem 0.75rem;
		}
	}

	.right-column {
		background-color: #eaeaea;
	}

	.regular-padding {
		padding: 2rem 1.75rem !important;
	}
}

#account-notify {
	position: absolute;
	top: auto !important;
	right: 0.5em;
	width: 30em;
}

@media (max-width: 1100px) {
	.hide-column-small {
		display: none !important;
	}
}

@media (max-width: 1300px) {
	.hide-column-large {
		display: none !important;
	}
}

div.bordered-header {
	text-transform: uppercase;
	font-size: 1.1rem;
	padding-left: 10px;
	padding-top: 0.55rem;
	font-weight: 500;
	overflow: hidden;
}

.exchange-bordered {
	margin: 0;

	&#depth_chart {
		padding: 0px 6px 0px 6px;
	}
}

.block-content-header {
	font-size: 1.4375rem;
	padding: 1.5rem 0;

	@include breakpoint(small only) {
		font-size: 1.125rem;
	}
}

.table-cell {
	display: table-cell;
}

.grid-content.app-tables {
	box-sizing: border-box;
	padding: 0px;
	height: 100%;
	position: relative;
}

.grid-content.app-tables > .content-block {
	margin-bottom: 0 !important;
}

.external-link:after {
	content: '';
	margin-left: 5px;
	background: url("data:image/svg+xml;utf8, <svg version='1.1' xmlns='http://www.w3.org/2000/svg' fill='rgb(224, 224, 224)' width='32' height='32' viewBox='0 0 32 32'><path d='M8 20s1.838-6 12-6v6l12-8-12-8v6c-8 0-12 4.99-12 10zm14 4H4V12h3.934c.315-.372.654-.729 1.015-1.068 1.374-1.287 3.018-2.27 4.879-2.932H.001v20h26v-8.395l-4 2.667V24z'></path></svg>")
		no-repeat left 2px;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.git-info {
	text-align: center;
	position: relative;

	.ant-alert .ant-alert-icon {
		position: static !important;
		margin-right: 10px;
	}

	.close-icon {
		position: absolute;
		top: 8px;
		right: 16px;
		overflow: hidden;
		font-size: 12px;
		line-height: 22px !important;
		cursor: pointer;
		color: black !important;
	}
}

.search-input {
	.ant-input-suffix {
		right: 0px !important;

		.anticon {
			width: 32px;
			height: 32px;

			svg {
				margin: 9px;
			}
		}
	}
}

.json-link {
	cursor: pointer;

	.anticon {
		padding-right: 5px;
	}
}

// Banner
.ant-layout-header {
	.logo-wrapper {
		padding-top: 7px;
	}
}

// Menu
.ant-dropdown {
	@media screen and (max-width: 768px) {
		width: 100%;
	}

	ul.header-menu {
		width: 245px;
		padding: 0;
		border-top: 4px solid #ffc000;

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		&:before {
			content: '\a';
			border-style: solid;
			border-width: 6px 7px 6px 0px;
			border-color: transparent #ffc000 transparent transparent;
			position: absolute;
			transform: rotate(90deg);
			right: 31px;
			top: -12px;

			@media screen and (max-width: 768px) {
				right: 3.5rem;
			}
		}

		li {
			background: #2e3445;
			padding-top: 10px;
			padding-bottom: 10px;

			&:first-of-type {
				span {
					color: #ffc000;
				}
			}

			&.level-1 {
				background: #21252f;
			}

			&.level-2 {
				background: #282d3a;
			}

			&:hover {
				background: #f5f5f5;
				cursor: pointer;

				span {
					color: black;
				}

				> div.ant-dropdown-menu-submenu-title {
					span.ant-dropdown-menu-submenu-expand-icon {
						> span {
							color: #282d3a;
						}
					}
				}
			}

			span {
				color: white;
				font-size: 15px;
			}

			> div.ant-dropdown-menu-submenu-title {
				background-color: transparent !important;
				padding-top: 0px !important;
				padding-bottom: 0px !important;

				&:hover {
					background-color: transparent !important;
				}

				span.ant-dropdown-menu-submenu-expand-icon {
					top: 15px;

					> span {
						color: white;
						background-color: transparent !important;
					}
				}
			}
		}

		.disable-li-text span {
			color: #808080 !important;
		}

		.claim-wallet-background {
			background-color: #ffc000 !important;
		}
	}

	ul.header-notification-menu {
		position: absolute;
		z-index: 10;
		background: #0a0b0d;
		border: 1px solid #1c1f27;
		top: 8px;
		right: 0px;
		filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.2));
		border-top: 3px solid #e24c4d;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		width: 440px;
		padding-bottom: 20px;
		overflow-y: auto;

		@media (max-width: 600px) {
			top: 110px;
			width: calc(100% - 50px);
			left: 25px;
		}

		.notificationCard {
			display: flex;
			padding: 20px;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;

			&:nth-child(even) {
				background: #1c1f27;
			}

			.info {
				width: 100%;
				margin-left: 15px;
				color: rgba(255, 255, 255, 0.7);

				h4 {
					cursor: pointer;
					margin: 5px 0px;

					&:hover {
						text-decoration: underline;
					}
				}

				p {
					color: rgba(255, 255, 255, 0.7);
					font-family: sans-serif;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-transform: capitalize;
				}
			}

			.contentHtml {
				max-width: 350px;

				img {
					max-width: 100% !important;
				}
			}

			.time {
				display: flex;
				color: rgba(255, 255, 255, 0.7);
				font-family: sans-serif;
				font-size: 13px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-transform: capitalize;
				justify-content: space-between;
				align-items: center;

				div {
					&:first-child {
						width: 100%;

						p {
							background: transparent;

							table {
								background: transparent !important;

								td {
									background: transparent !important;
								}
							}
						}
					}

					&:last-child {
						min-width: 150px;
						margin-left: 30px;
					}
				}
			}

			.logo {
				width: 40px;
				align-items: center;
				justify-content: center;
				padding: 5px;
				border-radius: 50%;
				background: white;
			}
		}

		.viewAll {
			color: #ffc000;
			font-family: sans-serif;
			font-size: 15px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-decoration-line: underline;
			text-transform: capitalize;
			margin-top: 10px;
			text-align: center;
			cursor: pointer;
		}
	}
}

.advanced-submenu {
	ul {
		padding: 0;

		li {
			background: #2e3445;
			padding-top: 10px;
			padding-bottom: 10px;

			&:hover {
				span {
					color: black;
				}
			}

			span {
				color: white;
				font-size: 15px;
			}

			&.comment {
				background: #282d3a;
				font-size: 11px;

				span {
					color: rgba(255, 255, 255, 0.5) !important;
				}

				&:hover {
					span {
						color: rgba(255, 255, 255, 0.5) !important;
					}
				}
			}
		}
	}
}
