.add-contact {
	background: black;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;

	.contact-container {
		padding: 10px 30px !important;
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		width: 100%;
	}

	.add-contact-div-title {
		border: 1px solid rgba(194, 213, 225, 0.08) !important;
		padding: 31px 0 23px 30px !important;
		width: 100%;
	}

	.page-title {
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		color: #ffffff;
	}

	.input-box-search {
		max-width: 400px;

		input {
			background: rgba(21, 23, 27, 0.4);
			border: 1px solid rgba(28, 31, 39, 0.4);
			border-radius: 5px;
		}
	}

	table > thead {
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		background: black !important;
	}

	.ant-table-content table tr th {
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		text-transform: uppercase;
		border-bottom: 1px solid #1c1f27;
	}

	span.span_1 {
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		color: #ffffff;
	}

	p.para_1 {
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: rgba(255, 192, 0, 0.7);
		margin: 0;
	}

	.ant-table-content table tr td {
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 22px;
		color: rgba(255, 255, 255, 0.7);
		padding: 10px;
	}

	.ant-table-content {
		background: #000000;
		overflow: auto;

		.ant-table-thead {
			border-collapse: collapse !important;
			border-bottom: 1px solid #1c1f27;
		}

		.ant-table-tbody {
			border-collapse: collapse !important;

			tr {
				border-bottom: 1px solid #1c1f27;

				&:last-child {
					td {
						border-bottom: none;
					}
				}
			}
		}
	}

	.ant-table-container {
		background: black;
	}

	.ant-table-content table tr th:last-child {
		text-align: center;
		width: 200px;
	}

	button.add-contact-btn {
		background: #ffc000;
		border: 1px solid #1c1f27;
		border-radius: 4px;
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 22px;
		text-transform: uppercase;
		margin: auto;
		display: block;
		width: 95px;
		height: 40px;
	}

	.ant-table-content table tbody {
		padding: 20px;
	}

	.ant-pagination {
		@media screen and (max-width: 768px) {
			justify-content: center;
		}
	}
}
