.exchange--price-alert--show-modal {
	cursor: pointer;
}

.exchange--price-alert {
	.exchange--price-alert--items {
		margin: 16px 0;
	}

	.exchange--price-alert--items--add {
		text-align: right;
		padding-right: 32px;
	}

	.exchange--price-alert--item {
		margin: 8px 0 !important;

		&:first-child {
			margin-top: 0 !important;
		}

		&:last-child {
			margin-bottom: 0 !important;
		}

		.exchange--price-alert--item--control {
			padding: 0 !important;
			border: 0 !important;

			&:focus {
				box-shadow: none !important;
			}
		}
	}
}

.assets-layout {
	width: 20%;
	display: flex;
	flex-direction: column;
	margin-right: 15px;
	height: 100%;

	@media only screen and (max-width: 768px) {
		display: none;
	}

	.asset-pair-tabs-wrapper {
		border: 1px solid #1c1f27;
		border-radius: 5px;
		height: 100%;
	}

	.asset-select {
		background-color: #16171b !important;
		overflow-x: auto;
		white-space: nowrap;

		&::-webkit-scrollbar {
			height: 6px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: gray;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 10px;
		}

		.toggle-box {
			display: inline-block;
			width: 60px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 12px;
			color: #a6a6a6;
			border: 1px solid #33363d;
			border-left: none;
			vertical-align: top;

			&:first-of-type {
				padding-top: 8px !important;
				padding-bottom: 8px !important;
			}

			&.selected {
				border-top: 1px #dea702 solid;
				color: #dea702;
				background: #000;
				border-bottom: none;
			}

			&:hover {
				cursor: pointer;
			}

			&.disabled:hover {
				cursor: not-allowed;
			}
		}

		.table {
			.ant-table-wrapper {
				@media screen and (max-width: 768px) {
					margin-top: 0px !important;
				}
			}

			.ant-pagination {
				z-index: 3000;
				@media screen and (max-width: 768px) {
					justify-content: flex-end !important;
				}
			}
		}
	}

	.filter {
		padding: 15px;
		background: black;

		.search-input {
			width: 100% !important;

			.ant-input-affix-wrapper {
				background: black;

				.ant-input {
					background-color: black;
				}
			}

			.ant-input-group-addon {
				background-color: #000;
			}
		}
	}

	.table {
		.ant-pagination {
			justify-content: center;
		}

		.ant-table {
			border: none !important;
		}
	}
}

.info-layout {
	width: 100%;

	.column-header {
		width: 100%;
		padding-right: 10px;

		> ul {
			list-style-type: none;
			margin-left: 0px;
			width: 100%;
			margin-bottom: 0px;

			> li {
				font-size: 80%;
				cursor: pointer;
				display: inline-block;
				margin-right: 15px;
				text-transform: uppercase;
			}

			> li.last {
				margin-right: 0px;
			}

			li.active {
				cursor: default;
			}
		}
	}

	> .left-column {
		border-right: 1px solid $border-color;
		border-top: none;
	}

	.right-column {
		border-left: 1px solid $border-color;

		padding-top: 0 !important;
		padding-bottom: 0 !important;
		border-top: none;
	}

	.top-bar {
		display: flex;
		border: 1px solid #1c1f27;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom: none;
	}

	.market-picker {
		padding: 12px;
		border-right: 1px solid #1c1f27;
		border-left: 1px solid #1c1f27;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.control-layout {
	width: 80%;
	margin-left: 15px;

	@media screen and (max-width: 768px) {
		width: 100%;
		margin-left: unset;
	}

	.buy-sell-wrapper {
		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: gray;
			border-radius: 10px;
			opacity: 0.5;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 10px;
		}
	}
}

.ant-collapse-header {
	padding-left: 40px !important;
}

i.anticon.anticon-right.ant-collapse-arrow {
	display: none !important;
}

.top-bar {
	border-bottom: 1px solid grey;

	.shuffle {
		margin: 0 10px;
	}

	ul {
		line-height: 1;
	}
}

.market-content {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

[class*='block-grid-'] > li {
	height: auto;

	padding: 0 0.625em 1.25em;
}

.order-table {
	width: 100%;

	&.fixed-table {
		table-layout: fixed;
		text-align: right;
	}

	.orderbook {
		.my-order:hover {
			td {
				background-color: #21202030 !important;
			}
		}
	}
}

// Mozilla Specific Padding Issues on Sticky Table Wrapper
@-moz-document url-prefix() {
	.order-table-container .sticky-table .sticky-table-y-wrapper {
		padding-right: 0px !important;
	}
}

.my-orders {
	width: 48% !important;
	display: inline-table;
}

p.order-table-title {
	display: none;
}

.notification,
.notification.success,
.notification.info,
.notification.warning,
.notification.alert,
.notification.cancel {
	font-size: 0.75rem;
}

.backingWarning {
	color: yellow;
}

.backingError {
	color: red;
}

#center-item {
	margin: auto 2px auto 2px;
}

.bid-form {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}

.ask-form {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}

.short-long-button span {
	padding: 2px 2px 2px 0px;
}

.short-long-button button {
	padding: 2px 2px 2px 0px;
}

.buySellButton {
	float: right;
	min-width: 4rem;
}

.order-form {
	.ant-form-item {
		width: 100%;
		height: 50px;
		background: #21252f;
		border-radius: 4px;
		margin-bottom: 10px;
		color: white;

		.ant-form-item-row {
			.ant-form-item-label {
				display: flex;
				align-items: center;
				flex: none;

				label {
					font-size: 14px;
					text-transform: uppercase;
					margin-bottom: 0;
					text-align: left;
					width: 100px;
					padding-left: 10px;

					@media screen and (max-width: 1600px) {
						white-space: pre-wrap;
					}
				}

				label:after {
					content: '' !important;
				}
			}

			.ant-form-item-control {
				flex: 1 1 0;
				display: flex;
				margin-left: 5px;
				max-width: unset;

				.ant-form-item-control-input {
					text-align: right;
					width: 100%;

					input {
						background-color: transparent;
						border-color: $border-color;
						outline: none;
					}
				}
			}
		}
	}

	.ant-input {
		border: none;
		outline: none;
		border-left: 1px solid rgba(86, 97, 118, 0.3);
		background: transparent;
	}

	.ant-input[disabled] {
		background-color: #21252f;
		color: grey;
	}

	.ant-input-group-addon {
		text-align: left;
		padding-left: 5px;
		background: transparent;
		border: none;
		color: rgba(255, 255, 255, 0.5);

		span {
			color: rgba(255, 255, 255, 0.5);
			display: flex;
			justify-content: flex-end;
		}
	}

	.expiration-datetime-picker--hidden {
		display: flex;
		visibility: hidden;
		height: 0;
	}

	.ant-form-item-has-error:not(.ant-input-disabled):not(
			.ant-input-borderless
		).ant-input {
		background: transparent !important;
		border-left: 1px solid;
		border-color: rgba(86, 97, 118, 0.3);
		box-shadow: none;
	}
}

.flexifyGrow {
	flex-grow: 1;
}

.buy-form {
	> div.ant-tabs-bar {
		border-bottom: 1px solid #009d55 !important;
	}
}

.sell-form {
	> div.ant-tabs-bar {
		border-bottom: 1px solid #ff2929 !important;
	}
}

#market-charts {
	> div.Stockcharts__wrapper {
		overflow: hidden;
	}

	> div > div.tabs {
		margin-bottom: 0.25rem;

		.tab-item {
			padding-top: 0.1rem;
		}
	}
}

.my-order {
	border-left: 1px solid #ffc000 !important;
	border-right: 1px solid #ffc000 !important;
}

.ask-order-tr {
	background-color: rgb(9, 22, 19);
	border-bottom: 1px solid #1c1f27;
}

.bid-order-tr {
	background-color: rgb(29, 13, 15);
	border-bottom: 1px solid #1c1f27;
}

.orders-and-trade {
	display: flex;
	height: calc(50% + 15px);

	@media screen and (max-width: 768px) {
		flex-direction: column;
		height: unset;
	}

	.orders-trade-form {
		flex-grow: 1;
		display: inline-block;
		border-radius: 5px;
		border: 1px solid #1c1f27;
		width: 50%;

		&:first-child {
			margin-right: 1%;

			@media screen and (max-width: 768px) {
				margin-right: unset;
				margin-bottom: 20px;
			}
		}

		@media screen and (max-width: 768px) {
			width: 100%;
			max-height: 50%;
		}
	}
}

.trade-view-chart-wrapper {
	display: flex;
	flex-wrap: wrap;
	height: 50%;
	margin-bottom: 15px;

	@media only screen and (max-width: 1443px) {
		height: calc(50% - 25px);
	}

	@media only screen and (max-width: 768px) {
		height: 100%;
		margin-bottom: unset;
		display: none;
	}
}

.action-cards {
	overflow: auto;
	border: 1px solid #1c1f27;
	border-radius: 5px;
	height: 50%;
	width: 100%;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: gray;
		border-radius: 10px;
		opacity: 0.5;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 10px;
	}

	@media only screen and (max-width: 1443px) {
		height: calc(50% + 21px);
	}

	@media only screen and (max-width: 768px) {
		height: 100%;
	}

	.my-open-orders-res {
		display: flex;
		flex-direction: column;
		width: 100%;

		.ant-table {
			border-left: none;
			border-right: none;
		}

		.ant-tabs-nav {
			padding-left: 16px;
			margin: 0 !important;

			.ant-tabs-nav-list {
				width: unset !important;
				height: 40px;

				.ant-tabs-tab {
					text-align: center;
					display: flex;
					justify-content: center;
					border-bottom: none !important;
				}

				.ant-tabs-ink-bar {
					display: none;
				}

				.ant-tabs-tab.ant-tabs-tab-active {
					border-bottom: none !important;
				}
			}
		}
	}
}

.buy-form {
	.ant-tabs-nav-list {
		.ant-tabs-tab {
			width: 50px !important;
			text-align: center;
			display: flex;
			justify-content: center;
		}

		.ant-tabs-tab.ant-tabs-tab-active {
			border-top: none !important;
		}

		.ant-tabs-tab + .ant-tabs-tab {
			margin: 0 0 0 10px;
		}
	}
}

.sell-form {
	.ant-tabs-nav-list {
		.ant-tabs-tab {
			width: 50px !important;
			text-align: center;
			display: flex;
			justify-content: center;
		}

		.ant-tabs-tab.ant-tabs-tab-active {
			border-top: none !important;
		}

		.ant-tabs-tab + .ant-tabs-tab {
			margin: 0 0 0 10px;
		}
	}
}

.buy-sell-tab {
	.ant-tabs-nav {
		margin: 0;
		border-bottom: 1px solid #1c1f27;

		.ant-tabs-ink-bar {
			display: none;
		}

		.ant-tabs-nav-list {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;

			.ant-tabs-tab {
				width: 50%;
				text-align: center;
				display: flex;
				justify-content: center;
			}

			.ant-tabs-tab.ant-tabs-tab-active {
				border-top: 2px solid #ffc000;
				border-bottom: none !important;
				background: #15171b;
			}
		}
	}

	.ant-tabs-tabpane {
		background: #15171b;

		.ant-form-item-explain {
			display: none;
		}
	}
}

.left-order-book {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	table {
		width: 100%;
		table-layout: auto;

		th {
			padding-top: 8px !important;
			padding-bottom: 8px !important;
		}
	}

	.transition-container {
		display: table-row-group;
	}

	.table-container {
		flex-grow: 1;
		width: 100%;
		position: relative;
	}

	.my-order {
		background: #15171b;
		text-align: right;
	}

	.no-orders {
		text-align: center !important;
		margin-left: auto;
		margin-right: auto;

		&.padtop {
			padding-top: 1em;
		}
	}

	.ps-scrollbar-y-rail {
		width: 10px !important;

		.ps-scrollbar-y {
			width: 6px !important;
		}
	}

	.cell {
		display: table-cell;
		font-size: 0.875rem;
		padding-top: 5px;
		padding-bottom: 5px;
		vertical-align: middle;
		text-align: right;

		&.header-cell {
			padding-top: 0;
			padding-bottom: 0;
		}

		$scrollBarSpacePadding: 15px;

		&.left,
		&.right {
			padding-left: $scrollBarSpacePadding;
			padding-right: $scrollBarSpacePadding;
		}

		.text-center.spread {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			.lock-unlock,
			.settings {
				margin-left: auto;
				margin-right: auto;
			}

			.left {
				padding-left: $scrollBarSpacePadding;
			}

			.right {
				padding-right: $scrollBarSpacePadding;
			}
		}
	}

	.column {
		width: 100%;
		height: 3rem;

		.button.outline {
			border-left: none;
		}
	}

	.order-table-container {
		width: 100%;
		height: 100%;
	}

	.top-header {
		text-align: right;
		height: 31px;
	}
}

.underline {
	border-bottom: 1px dotted;
}

.final-row > td {
	border-bottom: none !important;
}

.left-orderbook-header {
	width: 100%;
	font-size: 0.75rem;
}

.bottom-header {
	padding-top: 0.25rem;

	> .horizontal-button {
		height: 100%;
		width: 100%;
		border-bottom: none !important;
		border-right: none !important;
	}
}

tr.top-header,
tr.bottom-header,
tr.spread-row {
	&:hover > td {
		background-color: inherit !important;
		cursor: pointer !important;
	}
}

.chart-label {
	z-index: 5;
	position: absolute;
	right: 0;
	font-size: 15px;
	border: 1px black solid;
	vertical-align: middle;
}

.buy-sell-info {
	font-size: 90%;
}

a.order-cancel {
	font-size: 90%;
	letter-spacing: 2px;
	padding-top: 0.01rem;
	padding-bottom: 0.01rem;
	margin: 0;
}

.stats {
	overflow: visible;
}

.market-stats {
	> li {
		display: inline-block;
		padding-right: 0.5rem;
	}
}

div.market-stats-container {
	// border-bottom: 1px solid $border-color;
	justify-content: space-between;
}

ul.market-stats {
	font-size: 0.75rem;
	display: flex;
	flex-wrap: wrap;
}

.market-stats .stat {
	text-align: left;
	font-size: 0.75rem;
	overflow: hidden;
}

.market-stats .stat .value {
	font-size: 0.75rem;
	color: #000;
	letter-spacing: normal;
}

.label-actions .icon {
	position: relative;
	top: 4px;
}

.stats {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.top-stats li {
	/*border-right: 1px solid $border-color;*/
	min-height: 42px;
	margin-left: 25px;
}

@media (max-width: 450px) {
	.exchange-gear {
		display: none !important;
	}

	.exchange--chart-control {
		display: none !important;
	}
}

.stats .stat {
	text-align: center;
	padding: 2px 5px;
	vertical-align: middle;

	> span {
		> span:first-of-type {
			padding-right: 5px;
			@include RobotoMedium;
		}
	}
}

.stats .stat:first-child {
	border-left: none;
}

.market-symbol {
	font-weight: bold;
	font-size: 1.1rem;
	padding-left: 0.3rem;
	padding-right: 0.5rem;
}

div.bucket-option {
	line-height: 1;
	cursor: pointer;
	text-transform: none !important;
	margin-right: 3px;
	border-radius: 0;
	user-select: none;
}

.active-bucket {
	text-transform: uppercase;
}

.buy-sell-row {
	margin-bottom: 10px;

	input {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		font-variant: small-caps;
	}
}

.bottom-row {
	border-top: #a09f9f 1px dotted;
	padding-top: 5px !important;
}

.limit-order-split-line {
	border-bottom: 1px solid #21252f;
}

.limit-order-input-wrapper {
	display: flex;
	height: 50px;
	background: #21252f;
	border-radius: 4px;
	flex-direction: row;
	margin-bottom: 10px;
	align-items: center;
	width: 100%;
	padding-left: 5px;

	.limit-order-input {
		width: 100%;

		.ant-input-group-addon {
			background-color: transparent;
			border: none;
			padding-right: 5px;

			.limit-order-text {
				font-size: 14px;
				text-align: right;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}

// buy_sell total border radius 0
.border-bottom-class {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.buy-sell-label {
	font-size: 14px;
	text-transform: uppercase;
	padding: 1px;
	z-index: 0; // Make sure unwrapped content isn't hidden under companion input
	width: 100px;
}

.buy-sell-input {
	height: 1.75rem;
}

.buy-sell-input > input {
	margin: 0;
	padding: 0;
	height: 1.75rem;
	text-align: right;
	font-size: 90%;
	padding-right: 0.4rem;
}

.buy-sell-box {
	text-align: center;
	height: 1.75rem;
	line-height: 1.75rem;
	font-weight: 700;
	font-size: 75%;
	padding: 0 0 0 5px;
	min-width: 5rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	> select {
		padding: 0;
		margin: 0;
		height: 1.75rem;
		line-height: 1.75rem;
		background-size: 8px 8px;
		border: none;
		color: white;
		font-size: 12px;
	}
}

.borrow-button {
	margin-top: 0.2rem;
	margin-right: 0.2rem;
	font-size: 0.8rem;
}

.borrow-button-container {
	padding-left: 0.25rem;

	> div:last-of-type {
		margin-bottom: 0.2rem;
	}
}

.order-change {
	transition: all 3s ease;
	background: #343434;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.borrow-price-label {
	display: inline-block;
	min-width: 40%;
}

.borrow-price-final {
	border-top: #a09f9f 1px dotted;
	padding-top: 5px !important;
}

.borrow-price-feeds {
	padding-bottom: 8px;
}

.middle-content {
	margin-bottom: 0px;
}

.mymarkets-header {
	text-transform: uppercase;
	width: 50%;
	font-size: 1rem;
	padding: 6px 10px;
	font-weight: 500;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	transition: border-color 0.3s ease 0s;
	overflow: hidden;
}

.exchange-content-header {
	font-size: 0.8rem;
	font-weight: 500;
	text-transform: uppercase;
	overflow: hidden;
}

.exchange-content-header.bid,
.exchange-content-header.ask {
	padding: 10px;
}

.exchange-content-header.bid {
	border-bottom: 1px solid #009d55 !important;
}

.exchange-content-header.ask {
	border-bottom: 1px solid #ff2929 !important;
}

.exchange-padded {
	padding-right: 15px !important;
	//color: yellow;
}

table thead tr th.mymarkets-header {
	padding-bottom: 9px !important;
}

.table-no-padding {
	tr,
	td {
		padding: 0px !important;
	}
}

.title-star {
	width: 1.25rem;
	height: 1.25rem;
	padding-right: 0.25rem;
}

.blue-icon > svg > path {
	fill: #2196f3 !important;
}

.gold-star > svg > path {
	fill: #cc9f00 !important;
}

.grey-star > svg > path,
.grey-shuffle > svg > path,
.shuffle > svg > path {
	fill: #878787 !important;
}

.white-star > svg > path {
	fill: #fff !important;
}

.gold-star:hover > svg > path {
	fill: lighten(#cc9f00, 10%) !important;
}

.shuffle:hover > svg > path,
.grey-star:hover > svg > path {
	fill: #cc9f00 !important;
}

.no-data {
	position: relative;
	left: 45%;
	top: 200px;
	z-index: 999;
	text-transform: uppercase;
	font-size: 2rem;
}

.market-right-padding {
	padding-right: 15px !important;
}

.orderbook-showall {
	text-align: right;
	padding: 5px 0;
	border-top: 1px solid $border-color;
	font-size: 12px;
}

.newrow-enter.newrow-enter-active {
	animation: flash 1.25s;
	animation-timing-function: ease-out;
}

@keyframes flash {
	0% {
		background-color: #6b6b6b;
	}

	100% {
		background-color: transparent;
	}
}

.buysell-select {
	background: none !important;
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
	appearance: menulist;
	text-align: left;
}

form.hide-container {
	display: none;
}

.custom-dropdown {
	position: relative;
	overflow: visible !important;
	z-index: 9;

	> div.custom-dropdown-content {
		position: absolute;
		z-index: 99;
		top: 29px;
		left: 0;
		right: auto;
		min-width: 15rem;

		> ul {
			margin: 0;
			list-style: none;
			text-align: left;
			font-size: 0.75rem;

			input {
				font-size: 0.8rem;
				height: 1.25rem;
				max-width: 40px;
				display: inline-block;
			}

			> li {
				position: relative;

				&.indicator-title {
					text-transform: uppercase;
				}

				padding: 5px;
				min-width: 5rem;
				border: none;

				&.indicator {
					> div:first-of-type {
						display: inline-block;
						padding-left: 25px;
						width: 60%;
					}

					> div:nth-of-type(2) {
						width: 40%;
						text-align: right;
						display: inline-block;
					}
				}

				> input {
					position: absolute;
					top: 5px;
				}
			}
		}
	}
}

.buy-sell-deposit {
	font-size: 85%;
	padding-left: 10px;
	text-transform: none;

	> a > span.asset-name {
		text-transform: none;
	}
}

.market-history-view-row {
	height: 64;
	border: 1px solid #1c1f27;

	.td-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.cancel-round-btn {
			path {
				fill: #ff2929;
			}
		}
	}
}

.market-order-table-text-header {
	text-transform: unset;
	color: #ffc000;
	border-bottom: none;
	text-align: center;
	font-size: 14px;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.market-order-table-action-header {
	text-transform: unset;
	color: #ff2929;
	border-bottom: none;
	text-align: center;
	font-size: 14px;
}

.market-order-table-cancel-button {
	width: 32px;
	height: 32px;
	background: #0a0b0d;
	border: 1px solid #1c1f27;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.market-order-table-container {
	.ant-table-wrapper {
		width: 100% !important;

		table {
			.ant-table-thead tr > th {
				border-radius: 0px !important;
				box-shadow: none !important;
			}

			.ant-table-tbody {
				.ant-table-cell {
					padding: 0 !important;

					div.td-content {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						text-align: center;
						height: 64px;
					}

					&:first-of-type {
						padding-left: 0px !important;
					}

					&:last-child {
						text-align: -webkit-center;
						text-align: -moz-center;
					}
				}

				.ant-table-row {
					height: 64px;
					border: 1px solid #1c1f27;
				}
			}
		}
	}
}

.td-content-common-text {
	color: white;
	text-align: center;
	font-size: 14px;
}

.td-content-divider {
	border-bottom: 1px solid #566176;
	width: 45px;
	height: 0px;
	margin-top: 5;
	margin-bottom: 5;
}

.td-content-second-text {
	color: #715c5c;
	text-align: center;
	font-size: 14px;
}

.vertical-panel {
	.vp__header {
		border-bottom: 1px solid white;
		margin: 10px;
		padding-bottom: 10px;

		> span {
			padding-bottom: 2px;
			margin-right: 10px;
		}

		> span.selected,
		> span:hover {
			border-bottom: 5px solid cyan;
		}
	}
}

.marketPicker {
	.marketPicker__header {
		padding: 0 5px;
		margin-top: 1px;

		.marketPicker__title {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
		}

		.marketPicker__filterType {
			float: right;
			position: absolute;
			top: 0;
			right: 10px;
			font-size: 16px;
			padding-bottom: 5px;
		}

		.marketPicker__filterHeader {
			float: left;
			margin-top: 5px;
		}
	}

	.marketPicker__subHeader {
		font-size: 1rem;
		margin-bottom: 16px;
		color: white;
	}

	input {
		font-size: 0.9rem;
		position: relative;
		top: 1;
	}

	.results {
		padding: 10px;
		max-height: 300px;
		min-height: 100px;
		overflow: auto;
		overflow-x: hidden;

		li {
			list-style-type: none;
			border-bottom: 1px solid black;
		}
	}
}

// DatePicker Layer Issues
.tether-element {
	z-index: 100;
}

.underline-title {
	> * {
		text-decoration: underline;
	}
}

.withdraw-fee-selector {
	text-align: left;

	.ant-form-item-label {
		padding: 0 !important;
	}

	.amount-selector-field--label {
		text-align: left !important;
		margin-bottom: 0;
	}

	:after {
		content: none !important;
	}
}

.backing-assets {
	.content-body {
		margin: 2rem;
		background: #0a0b0d;
		border: 1px solid #1c1f27;
		border-radius: 4px;
		.header {
			padding: '30px';
			@media screen and (max-width: 870px) {
				flex-direction: column;
				align-items: baseline;
				margin-bottom: 16px;
				margin-left: 6px !important;
			}
			.header-content {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.title1 {
		font-size: 24px;
		margin-bottom: 10px;
		@media screen and (max-width: 870px) {
			font-size: 16px !important;
			line-height: 1.5 !important;
		}
	}

	.title2 {
		font-size: 20px;
		margin-bottom: 10px;
		@media screen and (max-width: 870px) {
			font-size: 12px !important;
			line-height: 1.5 !important;
		}
		.golden {
			color: #ffc000;
		}
	}

	.title3 {
		font-size: 16px;
		@media screen and (max-width: 870px) {
			font-size: 11px !important;
			line-height: 1.5 !important;
		}
	}
	.ant-typography {
		@media screen and (max-width: 870px) {
			font-size: 12px;
			//width: unset !important;
		}
		@media screen and (max-width: 650px) {
			display: flex;
			justify-content: left;
		}
	}
	.percentage-content {
		float: right !important;
		width: 170px;
		text-align: right;
		font-size: 15px;
		@media screen and (max-width: 870px) {
			width: 119px;
		}
		@media screen and (max-width: 650px) {
			width: 100%;
			display: inline;
			margin-left: 10px;
		}
		@media screen and (max-width: 650px) {
			margin-left: 14px;
		}
	}
	.content {
		font-size: 16px;
		width: 100%;
	}
	.container {
		padding-left: '1rem';
		@media screen and (max-width: 650px) {
			padding-left: 1px;
		}
	}
	.list-wrapper {
		position: relative;

		.search-input {
			width: 350px !important;
			position: absolute;
			right: 5px;
			top: 6px;
			z-index: 100;
			background: #21252f;
			border-radius: 4px;
			height: 50px;
			align-items: center;
			display: flex;
			@media (max-width: 870px) {
				height: unset !important;
				width: 95% !important;
				top: 50px !important;
			}
			.ant-input-affix-wrapper {
				background: #21252f;

				input {
					background: #21252f;
				}

				&.ant-input-affix-wrapper-focused {
					border: none;
				}
			}

			.ant-input-group-addon {
				background: #21252f;
				border-radius: 4px;
			}
		}

		.ant-tabs {
			z-index: 10;

			.ant-tabs-nav {
				height: 60px;
				background: #15171b;
				border-top: 1px solid #212530;
				padding-left: 20px;
				@media (max-width: 870px) {
					height: 40px !important;
					padding-left: 6px !important;
				}
				.ant-tabs-tab {
					font-size: 16px;
					color: #969ba6;
					width: 136px;
					display: flex;
					justify-content: center;
					@media (max-width: 870px) {
						font-size: 14px !important;
						width: 90px !important;
					}

					&.ant-tabs-tab-active {
						border-top: 3px solid #ffc000 !important;
					}
				}
			}
			.ant-list-item-meta {
				@media (max-width: 650px) {
					flex-direction: column;
				}
			}
			.ant-list-item-meta-content {
				@media (max-width: 650px) {
					width: 100%;
				}
			}
			.ant-list-items {
				margin-top: 10px;
				@media (max-width: 870px) {
					margin-top: 40px !important;
				}
				.ant-list-item {
					padding: 20px;
					border-bottom: 1px solid #1c1f27;

					.ant-avatar {
						width: 92px;
						height: 85px;
					}
				}

				.progress {
					width: 170px;
					margin-top: 20px;
					@media (max-width: 870px) {
						width: 119px;
					}
					@media (max-width: 650px) {
						width: 80%;
						margin-top: -17px;
						margin-right: 10px;
					}
					@media (max-width: 380px) {
						width: 70%;
					}

					.ant-progress-inner {
						height: 10px;

						.ant-progress-bg {
							height: 10px !important;
						}
					}
				}
			}
		}
	}
}

.backing-asset-detail {
	width: 80%;
	margin: 0 auto;
	overflow-y: unset !important;

	.header-wrapper {
		padding: 3rem;
		text-align: center;
		@media (max-width: 850px) {
			padding: 0.5rem;
			margin-top: 20px;
			h3 {
				font-size: 18px !important;
			}
		}
	}

	.main-body {
		.title-wrapper {
			margin-top: 1rem;
			background-color: #21252f;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 30px;
			@media (max-width: 850px) {
				padding: 0.5rem;
				span {
					font-size: 13px !important;
					word-wrap: break-word;
				}
			}
		}
		.info-content {
			font-size: 16px;
			line-height: 24px;
			@media (max-width: 850px) {
				font-size: 13px;
				word-wrap: break-word;
			}
		}
		.info-content-value {
			color: rgba(206, 206, 206, 0.6);
			font-size: 16px;
			@media (max-width: 850px) {
				font-size: 13px;
				word-wrap: break-word;
			}
		}
		.document-link {
			text-decoration: underline;
			font-size: 16px;
			@media (max-width: 850px) {
				font-size: 13px;
			}
		}
		.info-body {
			background: #15171b;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			padding: 30px;
			@media (max-width: 850px) {
				padding: 15px;
			}
			.info-text {
				font-size: 16px;
				color: #cecece;
				@media (max-width: 850px) {
					font-size: 13px;
				}
			}
			.info-details {
				@media (max-width: 950px) {
					flex-direction: column;
					align-items: baseline;
				}
				.info-img {
					width: 365px;
					padding: 20px;
					@media (max-width: 950px) {
						width: 200px;
						margin: 0px;
					}
				}
			}
		}

		.footer-progress {
			padding: 30px;
			background: #ffc000;
			margin-top: 30px;
			border-radius: 6px;
			margin-bottom: 100px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 850px) {
				padding: 15px;
				flex-direction: column !important;
				gap: 20px;
				span {
					font-size: 18px;
					width: 96%;
				}
			}
			.progress-wrapper {
				display: flex;
				flex-direction: row;
				align-items: center;
				@media (max-width: 850px) {
					width: 100%;
					span {
						width: 50px;
					}
				}

				.progress {
					width: 170px;

					.ant-progress-inner {
						height: 10px;

						.ant-progress-bg {
							height: 10px !important;
						}
					}
				}
			}
		}
	}
}

.markets {
	background-color: black;

	.bottom-header {
		margin-bottom: 10px;

		.mymarkets-header {
			border-bottom: 1px solid;
			border-bottom-color: #ffc000;
			color: #ffc000;
			text-align: center;

			&.inactive {
				border-bottom-color: transparent;
				color: white;
			}
		}
	}

	.asset-selector-wrapper {
		width: 100%;
		text-align: left;
		padding: 0.75rem 0.5rem;

		table {
			@media screen and (max-width: 576px) {
				width: 100% !important;
			}

			.asset-selector {
				ul {
					text-align: left;
				}
			}
		}
	}

	.mymarkets-tabs {
		width: 100%;
		list-style: none;
		margin: 10px auto;

		> li {
			font-size: 15px;
			display: inline-block;
			margin: 0 5px;
			cursor: pointer;

			&:hover {
				color: #ffc000;
			}

			&.active {
				color: #ffc000;
			}
		}
	}

	.mymarkets-base-select {
		margin: 0;
		padding: 0;
		height: inherit;
		font-size: inherit;
	}

	.mymarkets-list {
		padding: 0;
		font-size: 0.75rem;

		.table-wrapper {
			overflow: auto;

			.table {
				border: 1px solid #15171b;
			}
		}

		.table > thead tr th {
			font-size: 0.75rem;
			height: 50px;
			background-color: #15171b;
		}

		.table > tbody tr {
			td {
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 10px;
				border-bottom: 1px solid #15171b;
			}
			&:hover {
				td {
					background-color: #21202030 !important;
				}
			}
		}
	}
}

// Order Book Panel
.order-book-panel {
	display: flex;
	flex-direction: column;

	.overflow-hidden {
		overflow: hidden !important;
		font-size: 14px !important;
	}

	.header-font-size {
		font-size: 14px !important;
	}

	.header {
		background: #1c1f27;
		font-size: 14px;
		height: 46px;
		width: 100%;
		color: white;

		div {
			display: inline-block;

			&.title {
				margin-left: 10px;
				margin-top: 15px;
			}

			&.tap {
				float: right;
				padding: 15px 20px;

				&.active {
					background-color: black;
					border-top: 2px solid #ffc000;
					color: #ffc000;
				}

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.orderbook-divider {
		border-top: 1px solid #1c1f27;
		border-bottom: 1px solid #1c1f27;
		padding: 10px;
		display: flex;
		align-items: center;
	}

	.table-height-auto {
		height: auto !important;
	}
}

// Buy_Sell wallet icon section css
.amount_footer {
	display: flex;
	background: #21252f;
	border-radius: 4px;
	margin: -15px 0 0 0;
	display: flex;
	justify-content: space-between;
	padding: 5px 15px;
	border-top: 1px solid rgba(86, 97, 118, 0.3);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -10px;

	.left_footer_sec {
		display: flex;
		align-items: center;

		span {
			font-size: 12px;
			text-align: right;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.5);
			border-right: 1px solid rgba(86, 97, 118, 0.3);
			padding-right: 10px;
			// width: 50%;
		}
	}

	.right_footer_sec span {
		font-size: 14px;
		text-align: right;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.5);
		display: inline-block;
		margin: 0 0 0 8px;
	}

	.wallet_img {
		max-width: 15px;
		margin-right: 6px;
	}

	.per_item {
		cursor: pointer;
	}

	.active_item {
		color: #fff !important;
	}
}

@media screen and (max-width: 1440px) {
	.order-book-panel {
		.header .tap {
			padding: 15px 8px !important;
		}
	}
}

.buy-sell-container {
	.ant-row {
		padding: 5px;

		.ant-input-group-addon {
			padding: 0;
		}
	}
}

.market-history-custom {
	.overflow-hidden {
		overflow: hidden !important;
		font-size: 14px !important;
	}
}
