.explorer {
	.blockchain-tab {
		.explorer-card {
			canvas {
				border-radius: 10px;
			}
		}

		.transactions-block {
			padding: 2rem;
			display: flex;

			@media screen and (max-width: 768px) {
				flex-direction: column;
			}

			.recent-activity {
				margin-bottom: 3.5rem;
				width: 50%;

				@media screen and (max-width: 768px) {
					width: 100%;
				}

				.ant-table {
					border-radius: 10px;

					a {
						font-size: 0.875em;
						padding-left: 20px;
						padding-right: 4px;
					}

					thead > tr:first-child th:first-child {
						border-top-right-radius: 10px;
						border-top-left-radius: 10px;
					}

					tbody {
						overflow: auto;

						.ant-table-cell {
							padding: 0 !important;
						}
					}
				}
			}

			.recent-blocks {
				padding-bottom: 0;
				padding-left: 5;
				width: 50%;

				@media screen and (max-width: 768px) {
					width: 100%;
					padding-left: 0;
				}

				tbody {
					overflow: auto;
				}
			}
		}
	}

	.assets-tab {
		.assets-section-wrapper {
			display: flex;
			flex-direction: column;
			padding-right: 20px;

			.control-group {
				text-align: left;
				margin-top: 2rem;
				display: flex;
				align-items: center;

				@media screen and (max-width: 576px) {
					flex-direction: column;
					justify-content: center;
				}

				.search-input {
					width: 300px !important;

					@media screen and (max-width: 576px) {
						margin-bottom: 15px;
						width: 100% !important;
					}
				}

				.ant-radio-group {
					margin-left: 24px;

					@media screen and (max-width: 576px) {
						margin-left: 0;
					}
				}
			}

			.ant-table-wrapper {
				overflow: auto;
			}
		}
	}

	.accounts-tab {
		.search-input {
			min-width: 300px;

			@media screen and (max-width: 576px) {
				width: 100% !important;
			}
		}
	}

	.witnesses-tab {
		.search-input {
			min-width: 300px;
			margin-bottom: 10px;

			@media screen and (max-width: 576px) {
				width: 100% !important;
			}
		}
	}

	.committee-tab {
		.search-input {
			min-width: 300px;
			margin-bottom: 10px;

			@media screen and (max-width: 576px) {
				width: 100% !important;
			}
		}
	}

	.fees-tab {
		padding-right: 20px;
	}
}
