.settings {
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;

	@media (max-width: 990px) {
		padding: 10px !important;
	}

	.ant-menu {
		background: black !important;

		.ant-menu-title-content {
			font-size: 15px;
			letter-spacing: 1px;
		}

		@media (max-width: 990px) {
			.ant-menu-overflow-item {
				z-index: 2;

				.ant-menu-submenu-title {
					span {
						height: 100%;
						display: inline-flex;
						align-items: center;
					}
				}
			}
		}
	}

	.general-tab {
		.general-header {
			padding: 1rem 1.5rem;
			border-bottom: 1px solid #1c1f27;
		}

		.setting-entry {
			background: rgba(21, 23, 27, 0.4);
			padding: 20px 30px;
			border-radius: 6px;
			margin: 15px 30px;

			@media (max-width: 990px) {
				padding: 0px 5px !important;
			}

			.ant-form-item-label > label {
				font-size: 16px;
				color: rgba(255, 255, 255, 0.7);
			}

			.ant-form-item-control {
				.fee-asset-wrapper {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;

					@media (max-width: 990px) {
						flex-direction: column !important;
						height: 80px;
						margin-top: 23px;
						align-items: inherit;
					}

					@media (max-width: 400px) {
						height: 92px !important;
						margin-top: 8px !important;
					}

					.current-fee-asset {
						margin-right: 10px;
						font-size: 16px;
						color: rgba(255, 255, 255, 0.7);

						@media (max-width: 500px) {
							margin-bottom: 19px;
							display: flex;
							line-height: 1;
						}
					}

					button {
						height: 52px;
						background: #ffc000;
						border: 1px solid #1c1f27;
						border-radius: 4px;

						@media (max-width: 990px) {
							margin-top: 20px;
						}

						span {
							color: #0a0b0d;
							text-transform: uppercase;
							font-size: 15px;
							font-weight: 600;
							white-space: break-spaces;
						}
					}
				}

				.settings-notifications {
					display: flex;
					flex-direction: column;
					padding-top: 5px;

					.settings-notifications-item {
						@media (max-width: 700px) {
							line-height: 1.6 !important;
						}

						display: flex;
						align-items: center;
						justify-content: space-between;
						margin-bottom: 5px;

						font-size: 16px;
						color: rgba(255, 255, 255, 0.5);

						.ant-checkbox-inner {
							background: #ffc000;
							border: none;
							width: 26px;
							height: 26px;
							border-radius: 3px;

							&::after {
								border-color: black;
								left: 10px;
							}
						}
					}

					.external-link {
						@media (max-width: 990px) {
							line-height: 1.6 !important;
						}

						.settings-notifications-no-browser-support {
							margin-top: 10px;
							color: darkred;
							font-size: 16px;
							margin-bottom: 3px;
						}

						&::after {
							background-size: 24px 24px;
							width: 24px;
							height: 24px;
							cursor: pointer;
						}
					}
				}
			}

			.ant-select-selector {
				height: 50px;
				display: flex;
				align-items: center;

				.ant-select-selection-item {
					color: rgba(255, 255, 255, 0.4);
					font-size: 14px;

					span {
						color: rgba(255, 255, 255, 0.4);
						font-size: 14px;
					}
				}
			}
		}
	}

	.ant-typography {
		span {
			font-size: 15px;
			color: #cecece;
			font-weight: 400;
		}
	}

	.settings-notifications {
		input[type='checkbox'] {
			cursor: pointer;
		}

		.settings-notifications-group {
			margin: 15px 10px;

			.settings-notifications-item {
				label {
					text-transform: none;
				}
			}
		}

		> .settings-notifications-group {
			margin-left: 0;
		}
	}

	.node-tab {
		.nodes-header {
			padding: 1rem 1.5rem;
			border-bottom: 1px solid #1c1f27;
			display: flex;
			justify-content: space-between;

			@media (max-width: 990px) {
				flex-direction: column !important;

				div:nth-child(2) {
					flex-direction: row !important;
					gap: 30px !important;
					margin-top: 5px !important;
				}
			}

			.ant-typography {
				margin-bottom: 0;
			}

			.automatic {
				padding-right: 1rem;
				font-size: 15px;
				color: #cecece;
			}
		}

		.node-content {
			padding: 1rem 1.5rem;

			@media (max-width: 800px) {
				padding: 10px !important;
			}

			.nodes {
				.grid-block {
					@media (max-width: 800px) {
						overflow: auto;
						overflow-y: hidden;
						height: 40px;
						flex-direction: row !important;
					}
				}
			}

			div {
				div {
					@media (max-width: 700px) {
						flex-direction: column !important;
						// width: 100%;
					}
				}
			}

			div:nth-child(3) {
				@media (max-width: 700px) {
					position: absolute;
					margin-top: 0px;
					display: flex !important;
					flex-direction: row !important;
					text-align: right;
					width: -webkit-fill-available;
					padding: 0px 19px;
				}
			}

			div:nth-child(2) {
				@media (max-width: 700px) {
					span {
						height: 72px;
						margin-top: 4px;
					}
				}
			}
		}

		div:has(> .api-node-url) {
			@media (max-width: 1050px) {
				display: grid !important;
			}
		}
	}

	.ant-modal-content {
		@media (max-width: 990px) {
			padding: 0px;
		}
	}

	.ant-modal-footer button {
		@media (max-width: 990px) {
			width: unset !important;
			height: 38px;
		}
	}

	.ant-modal-footer {
		display: flex;
		justify-content: center;
	}

	div.api-status a .default-icon {
		display: block;
	}

	div.api-status a:hover .default-icon {
		display: none;
	}

	div.api-status a .hover-icon {
		display: none;
	}

	div.api-status a:hover .hover-icon {
		display: block;
	}

	.auto-node {
		margin-left: 1rem;
		margin-bottom: 2rem;

		> div {
			display: inline-flex;
			vertical-align: middle;
		}
	}

	.account-settings {
		.ant-table-wrapper {
			.ant-table-thead {
				height: 46px;

				tr {
					font-size: 14px;

					th:nth-child(1) {
						text-align: left;
						color: #969ba6;
					}

					th:nth-child(2) {
						text-align: center;
						color: #969ba6;
					}

					th:nth-child(3) {
						text-align: right;
						color: #969ba6;
					}
				}
			}

			.ant-table-tbody {
				tr {
					td:nth-child(1) {
						text-align: left;
						font-size: 14px;
					}

					td:nth-child(1):hover {
						div {
							color: white;
						}
					}

					td:nth-child(2) {
						text-align: center;
						font-size: 14px;

						a {
							color: #ffc000;
						}
					}

					td:nth-child(3) {
						text-align: right;
						font-size: 14px;

						a {
							color: #ffc000;
						}
					}
				}
			}
		}
	}

	// notification
	.notificationTabWrapper {
		width: 100%;

		.changeNotifcationBlock {
			padding: 1rem 0;

			.notificationPrefContent {
				h5 {
					margin-left: 30px;
					color: gray;
				}

				.notificationItem {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					padding: 15px 30px;
					border-bottom: 1px solid rgba(80, 83, 97, 0.3);

					.leftItem {
						display: flex;
						align-items: center;

						div {
							width: 30px;
							height: 30px;
							background: #fff;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							margin-right: 30px;

							img {
								width: 20px;
								height: 20px;
							}
						}

						span {
							font-size: 16px;
							font-weight: 600;
							color: white;
							text-transform: capitalize;
						}
					}

					.rightItem {
						.switch {
							margin: 0 0 0 2rem !important;
							height: 24px;

							@media (max-width: 600px) {
								margin: 0 !important;
							}
						}
					}
				}

				.coinMovements {
					border-bottom: 1px solid rgba(80, 83, 97, 0.3);
					padding: 10px 30px;
					background-color: #222222;
					font-size: 20px;
					font-weight: 500;
					color: white;

					.coinNotificationItem {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						padding: 15px 30px;
						border-bottom: 1px solid rgba(80, 83, 97, 0.3);

						.leftItem {
							display: flex;
							align-items: center;

							img {
								width: 30px;
								height: 30px;
								margin-right: 30px;
							}

							.coinSec {
								display: flex;
								flex-direction: column;

								span {
									font-size: 16px;
									font-weight: 600;
									color: white;

									&:last-child {
										color: gray;
									}
								}
							}
						}

						.rightItem {
							display: flex;
							flex-direction: column;
							align-items: flex-end;

							.switch {
								margin: 0 0 0 2rem !important;
							}

							button {
								border-radius: 50% !important;
								border: none !important;
								width: 30px;
								height: 30px;
								color: red;
								margin-right: 10px;
							}
						}
					}
				}
			}

			.form_custom {
				margin: 30px;
				padding: 20px;
				border-radius: 5px;
				border: 1px solid rgba(80, 83, 97, 0.3);

				input {
					width: 100%;
					max-width: 100%;
					box-shadow: none !important;
					height: 50px;
					margin-top: 5px;
					border-radius: 5px;
					padding-left: 15px;
					font-size: 18px;
					font-weight: 500;
				}

				p.coin_p {
					font-size: 20px;
					font-weight: 500;
					margin: 0 0 15px 0;
					color: #fff;
				}

				.common_margin {
					margin: 0 0 20px 0;

					label.label_same {
						font-size: 14px;
						font-weight: 500;
						margin: 0 0 5px 0;
						display: block;
						color: #a7b4be;
					}

					.select_same {
						width: 100%;
						max-width: 100%;
						height: 50px;
						padding: 0 15px;
						background: #0a0b0d !important;
						border: 1px solid rgba(80, 83, 97, 0.3) !important;
						color: #a7b4be;
						font-size: 18px !important;
						font-weight: 500 !important;
						border-radius: 5px;
					}

					.ant-select {
						width: 100%;

						.ant-select-selector {
							border-radius: 5px;
							height: 50px;
							background-color: #0a0b0d;
						}

						.ant-select-arrow {
							svg {
								fill: #a7b4be;
								font-size: 15px;
							}
						}
					}
				}

				.ant-select-selection-item {
					display: flex;
					align-items: center;
					outline: none !important;
				}

				.btn_save_movment {
					width: 150px;
					background-color: #fdc000 !important;
					margin-top: 10px !important;
					height: 50px !important;
					color: black !important;
					border-radius: 8px;
					font-weight: bold;
					font-size: 18px;
				}
			}
		}
	}
}

.coin-movement {
	background-color: #222222;

	.ant-select-item-option {
		display: flex;
		align-items: center;
	}

	.ant-select-item:hover {
		background-color: #070707 !important;
		border-top: 1px solid #222222;
		border-bottom: 1px solid #222222;
	}
}

.wallet-option-picture img {
	width: 40px;
	margin-right: 15px;
}

.wallet-option-content__currency {
	display: flex;
	align-items: center;
}

.wallet-option-content__name {
	font-size: 18px;
	margin-right: 5px;
	color: #a7b4be;
}
