.login-page-selector {
	.recommended {
		display: none;
	}

	div.selection-block {
		.choice-model {
			margin-bottom: 42px;
		}

		.choice-account {
			margin-bottom: 59px;
		}

		.content-block {
			margin-bottom: 28px;
		}
	}

	.account-block,
	.wallet-block {
		padding: 0 10%;

		input {
			height: auto;
			flex: none;
		}

		.account-selector {
			.inline-label {
				align-items: center;
			}

			.custom-tooltip:hover {
				visibility: visible !important;
				opacity: 0.9 !important;
			}
		}

		.header-area {
			margin-left: 0;

			.left-label {
				text-align: left;
			}
		}

		.button-secondary,
		button.button-primary {
			outline: 0;
			padding: 7px 35px 8px;
		}

		.button-secondary {
			opacity: 0;
		}

		.button-group {
			margin: 50px 0 15px;
		}

		.eye-block {
			display: inline-block;
		}

		.dismiss-icon,
		.approve-icon {
			margin: auto 0 auto 8px;
		}

		.approve-icon svg {
			width: 14px;
			height: 14px;
		}

		.error-area {
			padding-left: 0;
		}

		.file-input-container,
		.small-container {
			display: grid;
			grid-template-columns: 50px 50px auto;
			padding-right: 20px;
			border: 1px dashed;
			border-radius: 5px;

			.rounded-arrow {
				margin: auto 0 auto -15px;
				z-index: 1;
			}

			.bin-file {
				opacity: 0.4;
				height: 50px;
				margin: 20px 0 20px -30px;

				&.initial-bin {
					margin-left: -60px;
				}
			}

			&:hover .bin-file,
			&.dropHover .bin-file,
			&.downloaded {
				opacity: 1;
			}

			.upload-text {
				margin: auto 0;
				font-size: 14px;
				letter-spacing: -0.2px;
				line-height: 20px;
				text-transform: none;

				p {
					margin-bottom: 0;
					font-size: 14px;
					line-height: 20px;
				}

				.active-upload-text {
					display: inline-block;
					position: relative;

					.upload-bin-input {
						position: absolute;
						height: 100%;
						width: 100%;
						opacity: 0;
						cursor: pointer;
					}

					.upload-bin-input::-webkit-file-upload-button {
						cursor: pointer;
					}
				}
			}

			.facolor-error {
				text-transform: uppercase;
			}

			&.downloaded {
				border: 1px solid;
			}
		}

		.small-container {
			display: none;
		}

		.without-bin {
			width: fit-content;
			margin: 6px 0 22px;
			font-size: 12px;
			letter-spacing: -0.17px;
			line-height: 17px;
			border-bottom: 1px dashed;
		}

		.custom-tooltip {
			width: 250px;
			pointer-events: auto;

			.without-bin {
				border-bottom: 1px dashed;
				font-size: 13px;
				letter-spacing: 0.06px;
				line-height: 18px;
			}
		}
	}

	.wallet-block {
		.button-group {
			margin: 61px 0 0;
		}

		.bin-name {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.inactive-model-block {
		padding-top: 39px;

		div.header-block {
			padding: 87px 0 127px 0;

			.inactive-img {
				bottom: 0;
			}

			.inactive-title {
				margin-top: 20px;
			}

			.choice-model {
				margin-bottom: 0;
			}
		}

		div.button-group {
			margin: 0;

			span.button-secondary {
				margin-top: 0;
			}
		}
	}

	.inactive-model-block:hover {
		.button-secondary {
			opacity: 1;
		}
	}

	.account-selector {
		text-align: left;

		.has-error {
			font-size: 0.875rem;
			margin-top: 5px !important;
		}
	}
}

.custom-auth-faceki {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 576px) {
		padding: 10px;
	}

	@media screen and (max-width: 375px) {
		top: 70px !important;
	}

	@media screen and (max-width: 576px) {
		border-radius: 5px;
		padding: 10px;
	}

	h4 {
		text-align: center;
		font-weight: bold;

		@media screen and (max-width: 576px) {
			font-size: 16px;
		}
	}

	h5 {
		text-align: center;
		font-size: 16px;
		color: rgba(255, 255, 255, 0.5);

		@media screen and (max-width: 576px) {
			font-size: 14px;
			max-width: 300px;
		}
	}

	.ant-select {
		width: 100%;
		margin-top: 5px;
	}

	.webcam-wrapper {
		position: relative;
		border: 1px solid #1c1f27;
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.flex_container {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 0;
	}

	.flex-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 7px;
		padding-bottom: 7px;
		background-color: transparent;
	}

	.flex-container-first {
		z-index: 999;
		float: center;
		width: 100%;
	}

	.btn-x {
		background-color: #262a32;
		color: red;
		width: 30px !important;
		height: 30px !important;
		font-size: 14px;
		font-weight: 600;
		z-index: 999;
		border: 1px solid #262a32;
		border-radius: 50%;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.position-head {
		display: flex;
		justify-content: center;
		color: #ffc000;
		font-weight: 600;
		width: 100%;
		align-items: center;
		z-index: 999;

		@media screen and (max-width: 576px) {
			font-size: 14px;
		}

		@media screen and (max-width: 375px) {
			font-size: 12px;
		}
	}

	.span-class {
		width: 100%;
		z-index: 999;
		text-align: center;
		color: rgba(255, 255, 255, 0.5);

		@media screen and (max-width: 576px) {
			font-size: 14px;
		}

		@media screen and (max-width: 375px) {
			font-size: 12px;
		}
	}

	.flip-button {
		position: absolute;
		top: 50px;
		right: 10px;
		z-index: 300;
		opacity: 0.7;
		cursor: pointer;
		width: 30px;
	}

	.oval-image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 200;
		opacity: 0.8;
	}

	.button-wrapper {
		display: flex;
		justify-content: center;
		margin-top: 10px;

		button {
			background: rgb(255, 204, 0);
			border: none;
			width: 110px;
			height: 45px;
			color: white;
			font-size: 18px;
			font-weight: 600;
			border-radius: 5px;
		}
	}

	video {
		border-radius: 5px;
	}
}
